body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.54);
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

header {
    padding: 5px 40px 0px 40px;
    background: white;
    color: #03ad0e;
    font-size: 33px;
    font-family: "Times New Roman", Times, serif;
}

header .logo {
    height: 65px;
}

footer {
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 14px;
    top: 35px;
    bottom: 40px;
    background: white;
    text-align: center;
    box-shadow: 0px -2px 8px rgba(117, 117, 117, 0.15);
}

footer div {
    margin: 5px;
}

footer > div:first-child {
    margin-bottom: 20px;
}

nav {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 6px -1px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 99;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0 10px 0 10px;
    overflow: hidden;
    background-color: white;
}

nav > ul > li {
    float: left;
}

a {
    text-decoration: none;
    color: inherit;
}

nav > ul > li a {
    display: block;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.015em;
    padding: 15px 30px;
}

nav a.active {
    color: #778878;
    border-bottom: solid 4px #03ad0e;
    padding-top: 15px;
    padding-bottom: 11px;
}

nav a:hover {
    color: #03ad0e;
}

li.right-nav {
    float: right;
}

.mobile-hamburger {
    display: none;
}

.drop-btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.mobile-nav-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100vw;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0px;
    top: 50px;
}

.promotion-main {
    padding-top: 40px;
}

.promotion-banner,
.promotion-banner img {
    width: 100%;
}

.slideshow-container {
    position: relative;
}

.slides {
    display: none;
}

.slides > img {
    width: 100%;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    height: 20px;
    width: 20px;
    margin-top: -22px;
    padding: 12px 15px 15px 15px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 50% 50%;
    user-select: none;
    text-align: center;
}

.next {
    right: 0;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dots {
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, 0%);
}

.dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: rgb(231, 231, 231);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot.active,
.dot:hover {
    background-color: #03ad0e;
    border: 1px solid white;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

.popular-items {
    margin-top: 50px;
}

.item-cards-container {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 40px 90px 40px;
}

.item-card {
    flex: 1;
    -ms-flex: 1;
    flex-basis: 20%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    margin: 0px 20px;
    min-height: 300px;
}

.image-box {
    height: 200px;
    width: 100%;
    background: #c4c4c4;
}

.image-box > img {
    height: inherit;
    width: inherit;
    object-fit: cover;
}

.item-card > .text,
.shop-item-card > .text {
    text-align: left;
    padding: 20px;
}

.item-name {
    font-weight: 600;
    color: rgb(68, 68, 68);
}

.price {
    padding-top: 10px;
    font-weight: 600;
    color: #f44444;
}

.container {
    margin: 0px 40px;
}

.promotions {
    margin: 40px 0px;
    display: flex;
}

main.register {
    background: url("../assets/register-bg.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 70px;
    padding-bottom: 70px;
}

.register-box {
    max-width: 400px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.75);
    background: white;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 50px 40px 50px;
}

@media screen and (max-width: 1000px) {
    .item-card {
        margin-bottom: 20px;
        flex-basis: 40%;
    }

    .tab-panel {
        height: inherit;
    }

    .tab-panel .border-item-shop1 {
        flex-basis: 50%;
    }
}

@media screen and (max-width: 800px) {
    .register-box {
        width: calc(95% - 60px);
        padding: 10px 30px;
    }
    .item-card {
        margin-bottom: 20px;
        flex-basis: 90%;
    }
    .container {
        margin-left: 0px;
        margin-right: 0px;
    }
    .promotion-main {
        padding-top: 0px;
    }
    .register-nav,
    .left-nav {
        display: none !important;
    }
    .mobile-hamburger {
        display: inline-block;
        position: absolute;
        position: fixed;
        top: 20px;
        right: 0px;
    }
    header {
        position: fixed;
        z-index: 99;
        width: 100vw;
    }
    main {
        margin-top: 60px !important;
    }
    .upper-shop-1 {
        flex-direction: row;
        justify-content: space-between;
        flex-flow: wrap;
        width: 100%;
    }
    .shop-heading-img-container {
        -ms-flex: none !important;
        flex: none !important;
    }
    .shop-heading-text {
        display: block !important;
        -ms-flex: none !important;
        flex: none !important;
        margin: 0px !important;
    }
    .shop-heading {
        display: block !important;
    }
    .shop-heading-img {
        flex: none;
        display: block;
        padding: 0px !important;
        width: 90vw !important;
    }
    .shop-item-container {
        -ms-flex: 0 0 100% !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
        padding-left: 40px !important;
        padding-right: 40px !important;
    }
    .image-box {
        height: 300px;
    }
}

form {
    margin-top: 30px;
}

.form-group {
    margin-top: 20px;
}

.form-group > label:first-child {
    font-weight: 600;
    display: block;
}

.form-group > input,
.form-group > select {
    margin-top: 10px;
}

.form-group > small {
    margin-top: 5px;
    display: block;
}

.form-group > input[type="password"],
.form-group > input[type="text"],
.form-group > input[type="email"] {
    width: 100%;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    width: calc(100% - 25px);
    display: block;
}

.form-group > select {
    width: 100%;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    display: block;
}

option[value=""][disabled] {
    display: none;
}

select:required:invalid {
    color: gray;
}

option {
    color: black;
}

.submit-btn {
    background: #03ad0e;
    width: 100%;
    border: none;
    height: 40px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 10px;
    color: white;
}

/* shop styles */

.upper-shop-1 {
    /* position: relative; */
    padding-top: 40px;
    padding-bottom: 50px;
    padding-right: 2%;
    padding-left: 2%;
    display: flex;
}

.upr-img {
    font-size: 22px;
    text-align: justify;
    box-sizing: border-box;
    margin-top: 2%;
}

.upr-img img {
    height: inherit;
    width: inherit;
    object-fit: cover;
}

.middle-shop-1 {
    align-content: center;
    align-items: center;
    box-sizing: border-box;
    min-height: 300px;
}

.heading-type-shop {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

.tab-btn{
    cursor: pointer;
    color: rgba(0, 0, 0, 0.54);
}

.tab-container .button-container {
    margin-left: 10%;
    align-self: center;
    display: flex;
}

.tab-container .button-container button {
    width: 30%;
    height: 50px;
    float: left;
    border-style: none;
    font-family: sans-serif;
    outline: none;
    background-color: white;
}

.tab-container .button-container button:hover {
    color: #03ad0e;
    outline: none;
}

.mid-hr {
    width: 90%;
}

.drop-btn-active {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-bottom: 4px solid #03ad0e;
}

.tab-panel {
    height: 400px;
    min-height: 200px;
    padding: 20px;
    width: 81%;
    box-sizing: border-box;
    margin-left: 10%;
    flex-wrap: wrap;
    display: none;
    max-height: 2000px;
}

.shop-heading {
    display: flex;
    padding: 30px;
}

.shop-heading-img {
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.shop-heading-img-container {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    flex: 1;
    display: flex;
}

.shop-heading-text {
    display: flex;
    align-items: center;
    padding: 20px;
    text-align: justify;
    flex: 2;
    font-size: 18px;
}

.tab-content {
    margin: 10px 0px;
    display: none;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.shop-item-container {
    position: relative;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding: 40px;
    position: relative;
    box-sizing: border-box;
}

.shop-item-card {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    min-height: 300px;
}
