body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #747474;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

header {
    padding: 14px 40px;
    background: #f44444;
    color: #ffffff;
    font-size: 63px;
    font-family: "Times New Roman", Times, serif;
}

footer {
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 14px;
    top: 35px;
    bottom: 40px;
    background: white;
    text-align: center;
    box-shadow: 0px -2px 8px rgba(117, 117, 117, 0.15);
}

footer div {
    margin: 5px;
}

footer > div:first-child {
    margin-bottom: 20px;
}

nav {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0 40px 0 40px;
    overflow: hidden;
    background-color: white;
}

nav > ul > li {
    float: left;
}

nav > ul > li a {
    display: block;
    color: #747474;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.015em;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
}

li.register-nav {
    float: right;
}

.drop-btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
    background-color: rgb(240, 240, 240);
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.promotion-banner,
.promotion-banner img {
    width: 100%;
}

.banner-text {
    display: flex;
    padding: 20px 0 20px 0;
    background: #f44444;
    position: relative;
    top: -5px;
    color: white;
}

.flex-1 {
    flex: 1;
}

.beaudei {
    font-family: "Times New Roman", Times, serif;
    font-size: 63px;
    text-align: center;
}

.free-delivery {
    font-style: normal;
    font-weight: bold;
    font-size: 43px;
    line-height: 50px;
    letter-spacing: 0.08em;
}

.no-min-purchase {
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
}

.slideshow-container {
    position: relative;
}

.slides {
    display: none;
}

.slides > img {
    width: 100%;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    height: 20px;
    width: 20px;
    margin-top: -22px;
    padding: 12px 15px 15px 15px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 50% 50%;
    user-select: none;
    text-align: center;
}

.next {
    right: 0;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dots {
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, 0%);
}

.dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: rgb(231, 231, 231);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #f44444;
    border: 1px solid white;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

.popular-items {
    margin-top: 50px;
}

.popular-item-cards-container {
    display: flex;
    margin: 40px 40px 90px 40px;
}

.popular-item-card {
    flex: 1;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    margin: 0px 20px;
    min-height: 300px;
}

.popular-item-card > .image-box {
    height: 200px;
    width: 100%;
    background: #c4c4c4;
}

.container {
    margin: 0px 40px;
}

.promotions {
    margin: 40px 0px;
    display: flex;
}

.promotion {
    flex: 1;
}

main.register {
    background: url("/assets/images/register-bg.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 70px;
    padding-bottom: 70px;
}

.register-box {
    max-width: 400px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.75);
    background: white;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 50px 40px 50px;
}

@media screen and (max-width: 800px) {
    .register-box {
        width: calc(95% - 60px);
        padding: 10px 30px;
    }
}

form {
    margin-top: 30px;
}

.form-group {
    margin-top: 20px;
}

.form-group > label:first-child {
    font-weight: 600;
    display: block;
}

.form-group > input,
.form-group > select {
    margin-top: 10px;
}

.form-group > small {
    margin-top: 5px;
    display: block;
}

.form-group > input[type="password"],
.form-group > input[type="text"],
.form-group > input[type="email"] {
    width: 100%;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    width: calc(100% - 25px);
    display: block;
}

.form-group > select {
    width: 100%;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    display: block;
}

option[value=""][disabled] {
    display: none;
}

select:required:invalid {
    color: gray;
}

option {
    color: black;
}

.submit-btn {
    background: #f44444;
    width: 100%;
    border: none;
    height: 40px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 40px;
    color: white;
}
